# Files and directories to ignore
.buildpath
composer.phar
composer.lock

/tests/results/log/*
/tests/results/report/*
/tests/results/testdox.html

/tmp/*
!/tmp/.dirstamp
/vendor/*
!/vendor/.dirstamp
.project

# Directories files to keep
!/tests/results/log/.gitkeep
!/tests/results/report/.gitkeep
!/tmp/.gitkeep
!/vendor/.gitkeep
